body {
    background-image: url("../img/fundo.png");
    background-repeat: no-repeat;
    background-position: top center;
}

img {
    width: 25px;
    height: 25px;
}

.container {
    background-color: #d1d1d1;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto 0px auto;
}